<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>Index</title>

    <link th:href="@{css/index.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{css/header-footer.css}"/>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/fonts.css}"/>
    <link rel="stylesheet" th:href="@{/css/fontgraphics.css}"/>

</head>
<body>
    <div th:replace="fragments::navbar">Header</div>

    <h1>Bookshelf is not empty, please delete books before deleting shelf.</h1>

    <div th:replace="fragments::footer">Footer</div>

</body>