<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>New Reads</title>

    <link th:href="@{css/newreads.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{css/header-footer.css}"/>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/fonts.css}"/>
    <link rel="stylesheet" th:href="@{/css/fontgraphics.css}"/>

</head>

<body>

    <div th:replace="fragments :: navbar">navbar</div>


    <div style="text-align: center; margin-top: 40px; margin-bottom: 40px;
     background: rgba(203,197,193,0.8); color: #4C586f; width:1000px; margin-left: 18%; padding: 5px;">
        <h2>Looking for your next read?</h2>
        <h2>Check out what is popular this week, and add one to your reading list. </h2>
    </div>

    <div style="margin-left: 25%; margin-bottom: 100px;">
        <h3 style="width: 800px; text-align: center;">This Week's NY Time's Best Selling Fiction</h3>
        <table class="tableouter" style="padding-right: 20px">
                <tr th:each="NYTbook, rowStat : ${NYTbooks}">
                    <th style="width: 10%; text-align: center; vertical-align: center; font-size: 32px;" th:text="${rowStat.count}">number</th>
                    <th class="labels">
                        <p>Title</p>
                        <p>Author</p>
                        <p>Description</p>
                    </th>
                    <td style="padding-right: 20px; padding-top: 10px">
                        <p th:text="${NYTbook.title}"></p>
                        <p th:text="${NYTbook.author}"></p>
                        <p th:text="${NYTbook.desc}"></p>
                    </td>
                    <td>
                        <form method="post" action="/addrecbook">
                            <button type="submit" th:value=" ${NYTbook.title} + ', ' + ${NYTbook.author} +', '+ ${NYTbook.desc} " name="nytbook">Add Book to Shelf</button>
                        </form>
                    </td>
                </tr>
        </table>
    </div>

    <div style="margin-left: 25%; margin-bottom: 200px;">
        <h3 style="width: 800px; text-align: center;">This Week's NY Time's Best Selling Nonfiction</h3>
        <table class="tableouter" style="padding-right: 20px">
            <tr th:each="NYTbooknon, rowStat : ${NYTbooknons}">
                <th style="width: 10%; text-align: center; vertical-align: center; font-size: 32px;" th:text="${rowStat.count}">number</th>
                <th class="labels">
                    <p>Title</p>
                    <p>Author</p>
                    <p>Description</p>
                </th>
                <td style="padding-right: 20px; padding-top: 10px">
                    <p th:text="${NYTbooknon.title}"></p>
                    <p th:text="${NYTbooknon.author}"></p>
                    <p th:text="${NYTbooknon.desc}"></p>
                </td>
            </tr>
        </table>
    </div>


    <div th:replace="fragments :: footer">footer</div>

</body>
</html>