<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Sources</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../static/css/sources.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru|Unica+One" rel="stylesheet">

</head>
<body>

<div th:replace="fragments :: navbar"></div>

<div class="row">
    <a href="https://www.iconfinder.com/iconsets/square-logo-buttons?ref=ArthurGareginyan">
        <img src="../static/images/if_mail_2581816.png"/>
    </a>
    <p>+</p>
    <a href="https://www.iconfinder.com/iconsets/square-logo-buttons?ref=ArthurGareginyan">
        <img src="../static/images/if_linkedin_2581817%20(1).png"/>
    </a>
    <p>+</p>
    <a href="https://www.iconfinder.com/iconsets/square-logo-buttons?ref=ArthurGareginyan">
        <img src="../static/images/1849631-256.png"/>
    </a>
    <p>Arthur Gareginyan</p>
</div>
<div class="row">
    <a href="http://www.aha-soft.com/free-icons/">
        <img src="../static/images/if_github_328033.png">
    </a>
    <p>Aha-Soft</p>
</div>
</body>
</html>